<body>
  <h1> Sentimental Analysis Website Information</h1>
  <p>
    As part of a team that focuses on Innovation, it’s very to important to us that we understand trends in business,
but moreover for emerging technologies. This project will be centered around doing research and implementing
sentiment analysis using social media (such as Reddit, Twitter, Instagram) in order to understand the general
public’s sentiment around a give technology. For example, when drones started becoming more available and
publicly used, many people felt that their presence was an invasion of privacy, due to them being able to fly in
the airspace of your property. Companies who manufactured drones surely understood that their technology was
not being openly welcomed. In order to strategize for the future, we are looking to build a platform that will
engage in what is known as cyber-ethnography which describes ethnographic market research in the
digital/virtual technology space. Ethnography is a study technique with aims to gather qualitative data of a
culture and its practices. Essentially, we are looking to apply this methodology as it pertains to the digital space
with emerging technologies.
  </p>
  <p>
    As there are a lot of different APIs and services that offer a machine learning and natural language processing
solution, we are envisioning this solution being built on the Google Cloud Platform. Data will be collected
using Reddit, Twitter and possibly Facebook which can then be stored in the cloud using Google BigQuery to
run SQL queries on all of the scraped data. From there, data can be processed through Google’s Cloud Natural
Language API which will read the text from a social media post or Reddit thread, analyze every post and then
using sentiment analysis, give a sentiment score. Lastly, using Google Data Studio will allow students to create
visual reports based on all of the information gathered.

  </p>
  <p>
    Since there are millions and millions of social posts created each day, it is imperative that students are
conscious about the frequency of polling and scraping data from the Internet. As we know, one news article or
video on YouTube can change the public’s feeling on any subject. They’ll have to use the above tools to be able
to understand when events like this happen in order to create more accurate results and report on them. As far as
the implementation goes, it is up to the students whether they want to create a mobile or web application, so
long as everything is built upon open-source technologies.
  </p>

</body>
