
<body>
    <h1>Scoial Media Sentiment Analysis Search</h1>
    <p>Please enter your technology topic for social media sentiment analysis</p>
  </body>

<div id = "searchbar" class="navbar navbar-light bg-light">
   <form  class="form-inline">
      <input class="searchbox" type="search" placeholder="Topic Search" aria-label="Search">
      <form id = "searchbutton" method="get" action="/result">
        <button id = "button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </form>
  </div>


