/*font nd text of navbar and search*/
:host {
  font-size: 15px;
  color: black;
  margin-top: 10px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0px;

}

.navbar-toggler{
  color: green;
}
.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  margin: -8px -15px;
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  font-weight: 900;

}
.toolbar img {
  margin: -24px 1px;
  background-color: white;
  background-color: none;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 950px;
  flex-direction: row;
  align-items: center;
}

/*this is the entire navbar menu*/
h1{
  color: black;
  letter-spacing: 1px;
  margin: 200px;
  text-shadow: 1px 1px darkgrey;
}
nav .nav-link:hover {
  color: black;
}
.dropdown:hover {
  color: black;
}

nav .nav-link{
  background-color: red;
  color: white;
  margin: 1px;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
  text-align: center;
  float: none;
  text-decoration: none;
  display: inline;
  font-size: 15px;
}

 .dropbtn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 1px;
  border-radius: 12px;
  text-align: center;
  float: none;
  text-decoration: none;
  display: inline;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dropdown {
  position: relative;
  display: inline-block
}
 .dropdown-content{
  display: none;
  position: absolute;
  margin-right: 20px;
  margin-top: 3px;
  border-radius: 6px;
  text-align: left;
  background-color: none;
  z-index:1000;

}

.dropdown-content a {
  background-color: none;
  color:white;
  padding: 2px 6px;
  font-size: 15px;
  text-decoration: none;
  display: block;
  z-index: 1;
  overflow: visible;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: black;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
