<div class="toolbar" role="banner">
  <a href = "https://www.autoclubmo.aaa.com/content/dam/ace/logo/orbit-logo.png">
  <img width="88" height="60" alt="AAA logo" src="https://www.autoclubmo.aaa.com/content/dam/ace/logo/orbit-logo.png" />
  </a>
 <!-- <span>The Auto Club Group</span>-->
  <div class="spacer"></div>

  <nav class = "navbar">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <a routerLink = "/home" routerLinkActive = "active" href="Home" class="nav-link" >Home</a>
          <a routerLink = "/search" routerLinkActive = "active" class="nav-link" href="Search">Search</a>
          <!-- Need search result and report in document tab-->
          <a routerLink = "/result" routerLinkActive = "active" class="nav-link" href="result">Result</a>

          <div class="dropdown">
            <a class="dropbtn">Dropdown</a>
            <div class="dropdown-content">
              <a routerLink = "/about" routerLinkActive = "active" href="about" >About</a>
              <a routerLink = "/designer" routerLinkActive = "active" href="designer">Designer</a>
            </div>
         </div>
      </div>
    </nav>

</div>

