
<body>
    <div id = "all_member">
      <section id = "mark">
        <img id = "mark_image"width="300" height="300" alt="AAA logo" src="https://media.licdn.com/dms/image/C4E03AQHwsP78ReDTBQ/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=d17gQXaMa_OoAZtrsLtX0v0TzEId2BAQLpov02G7IY8" />
        <div id = "text">
          <p><b>Name:</b> Mark  Yo</p>
          <p><b>Major:</b> Computer Engineer</p>
          <P><b>Project Role:</b> Back-End Developer</P>
        </div>
      </section>

      <section id = "nick">
        <img id = "nick_image"width="300" height="300" alt="AAA logo" src="https://www.autoclubmo.aaa.com/content/dam/ace/logo/orbit-logo.png" />
        <div id = "text">
          <p><b>Name:</b> Nicholas Owens</p>
          <p><b>Major:</b> Computer Engineer</p>
          <P><b>Project Role:</b> Back-End Developer</P>
        </div>
      </section>

      <section id = "brando">
        <img id = "brando_image"width="300" height="300" alt="AAA logo" src="https://media.licdn.com/dms/image/C4E03AQHPfDIt5p1KxQ/profile-displayphoto-shrink_200_200/0?e=1579737600&v=beta&t=b3qAtD9pGaM49Ph7lsgXcwTq7IxrnPiw8kR9GxlKrcA" />
        <div id = "text">
          <p><b>Name:</b> Brandon Jones</p>
          <p><b>Major:</b> Computer Science</p>
          <P><b>Project Role:</b> Front-End Developer</P>
        </div>
      </section>
    </div>
</body>
